<link rel="preload" href="/fonts/forkawesome-webfont.woff2?v=1.2.0" as="font" type="font/woff2" crossorigin>

{{ if .Site.IsServer }}
  <link rel="stylesheet" href="/css/coder.css" media="screen">
{{ else }}
  <link rel="stylesheet" href="/css/coder.css" crossorigin="anonymous" media="screen" />
{{ end }}

{{ if .Site.Params.rtl }}
  {{ if .Site.IsServer }}
    <link rel="stylesheet" href="/css/coder.css" media="screen">
  {{ else }}
    <link rel="stylesheet" href="/css/coder.css" crossorigin="anonymous" media="screen" />
  {{ end }}
{{ end }}
