<div style="border: 1px solid gray; border-radius: 10px; padding: 5px 15px; font-family: sans; font-style: italic;">
  <p style="margin:5px 0 10px 0;"><a href="{{ .Params.audioFile }}">Listen to this article</a> or <a href="{{ .Params.speechifyLink }}?utm_campaign=partners&utm_content=rewardful&via=zansaradev-blog" target="_blank">read it in the app</a>:</p>
  <audio controls style="width:100%;">
    <source src="{{ .Params.audioFile }}" type="audio/mpeg">
  </audio> 
  <div style="text-align:right;vertical-align:middle;">
    <span style="font-style: italic;">Powered by</span>
    <a href="https://speechify.com/text-to-speech-online/?utm_campaign=partners&utm_content=rewardful&via=zansaradev-blog" target="_blank" style="display:inline;margin-left:5px;"><img src="/global/speechify_logo.svg" alt="Speechify" style="width:150px;background-color:white;margin:0;vertical-align:middle;"/></a>
  </div>
</div>
