

name: Publish
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout source
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Build
        run: python build.py

      - name: Deploy
        run: |
          git fetch
          git branch -D gh-pages || true
          git checkout -b gh-pages

          shopt -s extglob
          rm -r !(public|CNAME)
          
          mv public/* .
          rm -r public/

          git add .
          git config user.name 'ZanSara'
          git config user.email 'github@zansara.dev'
          git commit -m 'deploy' || true
          git push -u origin gh-pages --force || true
